@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/* 
    em HTML é id = em CSS é # (apenas um elemento)
    em HTML é class = em CSS é . (multiplos elementos)
*/

body {
    background-color: rgb(177, 244, 252);
    font-family: 'Libertinus Sans';
}

h1 {
    color: rgb(41, 97, 181);
}

#principal {
    text-align: center;  
    background-color: #10458c;
    color: #ffffff;
}

h2 {
    color: rgb(31, 120, 130);
}

.basico {
    color: rgb(31, 120, 130);
}

.intermediario {
    color: rgb(29, 49, 133);
}

.avancado {
    color: rgb(2, 1, 61);
}

.destaque {
    background-color: rgb(170, 170, 43);
}