@charset "UTF-8";

* {
    font-family: sans-serif;
    /* height: 100%; */
}

body{
    background-image: linear-gradient(90deg, #8D9AF5, #104479);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(3, 32, 41, 0.900);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #104172;
    text-shadow: 1px 1px 2px rgba(16, 65, 114, 0.914);
}

h2 {
    color: #3b5ac0;
}

p {
    text-align: justify;
}