@charset "UTF-8";

* {
    font-family: sans-serif;
    /* height: 100%; */
}

body{
    background-image: linear-gradient(90deg, #40BFFF, #392cf0);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #171dbee6;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #2d68bb;
    text-shadow: 1px 1px 2px #2d68bbe9;
}

h2 {
    color: #4732bb;
}

p {
    text-align: justify;
}